@font-face {
    font-family: IranYekanBakh;
    font-style: normal;
    font-weight: 400;
    src: url("Yekan Bakh Regular.woff2");
    src: url("Yekan Bakh Regular.woff2") format("woff2");
    font-display: swap           
}                                
								 
@font-face {                     
    font-family: IranYekanBakh;  
    font-style: normal;          
    font-weight: 500;            
    src: url("Yekan Bakh Medium.woff2");
    src: url("Yekan Bakh Medium.woff2") format("woff2");
	font-display: swap           
}                                
								 
@font-face {                     
    font-family: IranYekanBakh;  
    font-style: normal;          
    font-weight: 600;            
    src: url("Yekan Bakh Bold.woff2");
    src: url("Yekan Bakh Bold.woff2") format("woff2");
	font-display: swap           
}                                
								 
@font-face {                     
    font-family: IranYekanBakh;  
    font-style: normal;          
    font-weight: 700;            
    src: url("Yekan Bakh Heavy.woff2");
    src: url("Yekan Bakh Heavy.woff2") format("woff2");
	font-display: swap          
}                                
								 
@font-face {                     
    font-family: IranYekanBakh;  
    font-style: normal;          
    font-weight: 800;            
    src: url("Yekan Bakh Fat.woff2");
    src: url("Yekan Bakh Fat.woff2") format("woff2");
	font-display: swap  
}